
@{
    ViewBag.Title = "check";
}

<h2>Results</h2>
<br />
<b>From:</b> @{
    @ViewBag.from
}
<br /><br />
<b>To:</b>
@{
    @ViewBag.to
}
<br /><br />
<b>Departure time:</b>@{
    @ViewBag.time
}
<br /><br />
<b>Travel time estimate</b><br />
@{
    @ViewBag.Message
}
<br />
<table>
    @foreach (var trip in ViewBag.list)
    {
        <tr>
            <td>@trip.fromAddress</td>
            <td>@trip.toAddress</td>
            <td>@trip.pickupTime</td>
            <td>@trip.timeDifference</td>
        </tr>
    }

</table>
